<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li class="bg-success">Add a button which says 'Display Details'</li>
        <li class="bg-success">
          Add a paragraph with any content of your choice (e.g. 'Secret Password
          = tuna')
        </li>
        <li class="bg-success">
          Toggle the displaying of that paragraph with the button created in the
          first step
        </li>
        <li class="bg-success">
          Log all button clicks in an array and output that array below the
          secret paragraph (maybe log a timestamp or simply an incrementing
          number)
        </li>
        <li class="bg-success">
          Starting at the 5th log item, give all future log items a blue
          background (via ngStyle) and white color (ngClass)
        </li>
      </ol>
      <hr />
      <app-details></app-details>
    </div>
  </div>
</div>
