<div class="container">
  <div class="row">
    <p class="bg-success">
      1. Add an input field which updates a property (`username`) via
      Two-Way-Binding
    </p>
    <p class="bg-success">
      2. Output the username property via String Interpolation (in a paragraph
      below the input)
    </p>
    <p class="bg-success">
      3. Add a button which may only be clicked if the username is NOT an empty
      string
    </p>
    <p class="bg-success">
      4. Upon clicking the button, the username should be reset to an empty
      string
    </p>
  </div>
  <div class="row">
    <app-username></app-username>
  </div>
</div>
