<header class="header">
  <mat-toolbar color="primary">
    <span>KartvizitApp</span>
    <span class="example-spacer"></span>
    <ul class="header-menu">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          {{ authService.loggedIn ? authService.loggedUsername : "Giris" }}
        </a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active">Hakkında</a>
      </li>
      <li>
        <a
          routerLink="{{ authService.loggedUsername }}/cards"
          routerLinkActive="active"
          >Kartvizitler</a
        >
      </li>
    </ul>
  </mat-toolbar>
</header>
