<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>My First Angular Application</h1>
      <h3>I'm in the AppComponent!</h3>
      <hr />
      <app-servers></app-servers>
      <!-- <div app-servers></div> -->
      <!-- <div class="app-servers"></div> -->
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-success">
        <div class="panel-heading">Input Output Exercise</div>
        <div
          class="panel-body"
          (click)="sendItem($event)"
          *ngFor="let item of items"
        >
          {{ item }}
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <app-input-output
        [value]="arrivalItem"
        (sendItem)="addItem($event)"
      ></app-input-output>
    </div>
  </div>
</div>
